/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Allerta', sans-serif;
    color: #fffffF;
    background-color: #323232;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fffffF;
}

img {
    margin: 0;
    width: 100%;
}

figure {
    margin: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

@media(min-width:768px) {
    .container {
        width: 960px;
    }
}

.header {
    text-align: center;
    margin-bottom: 2.5rem;
}

.header h1 {
    font-size: 2.5rem;
    color: #FAD304;
    text-shadow: 0 0 0.938rem #2B4899;
    text-shadow: -0.125rem 0 #2B4899, 0 0.125rem #2B4899, 0.125rem 0 #2B4899, 0 -0.125rem #2B4899;
}

@media(min-width:768px) {
    .header h1 {
        font-size: 3.125rem;
    }
}

.pokeball-container {
    display: flex;
    justify-content: center;
}

.pokeball {
    max-width: 15.625rem;
}

.medallas-container {
    margin-bottom: 2.5rem;
}

.medallas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
}

@media(min-width:768px) {
    .medallas {
        grid-template-columns: repeat(4, 1fr);
    }
}

.medalla img {
    transition: all .5s ease-in-out;
}

.medalla:hover img {
    transform: scale(1.1);
}

.medalla h3 {
    font-size: 1.25rem;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.footer figure {
    width: 20px;
    margin-left: .625rem;
    border-radius: 50%;
    overflow: hidden;
}